---
title: Wizeline Technical Documentation Style Guide

# language_tabs: # must be one of https://git.io/vQNgJ
#  - wize

toc_footers:
  - <a href='https://github.com/wizeline/tw-sg/blob/master/README.md'>Read the Style Guide Release Notes</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  # - errors

search: true
---

# Introduction

Welcome to the **Wizeline Technical Documentation Style Guide**. You can use this document to implement technical documentation guidelines and practices in your team. The purpose of this document is to help and guide you to write excellent documents, presentations, and even emails.
<%= partial 'includes/_structure.md.erb' %>
<%= partial 'includes/_fonts.md.erb' %>
<%= partial 'includes/_voice.md.erb' %>
<%= partial 'includes/_acrosandabbr.md.erb' %>


---

![icon to close the window](includes/images/wip.png)

---

<%= partial 'includes/_arunabh.md.erb' %>
<%= partial 'includes/_alejandra.md.erb' %>
<%= partial 'includes/_joanna.md.erb' %>
<%= partial 'includes/_Vira.md.erb' %>
<%= partial 'includes/_juan.md.erb' %>